@using FreelancerWebApp.ViewModels

@model InboxListViewModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<style>
    inbox {
        height: 700px; 
        overflow-y: scroll;
    }
</style>

<div style="height: 550px;overflow-y: scroll;">
    <style>
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        ::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            background-color: #00C851;
        }
    </style>
    @foreach (var item in Model.Inboxes)
    {
        <div class="py-1">
            <header class="bg-dark py-2 rounded-pill">
                <section>
                    <div class=" col-md-10 mx-auto " style="color:#ffbb33;">
                        <div class="row h-100 justify-content-center align-items-center">
                            <div class="col col-lg-6">

                                @if (ViewBag.userEmail == item.user1)
                                {
                                    <h5 class="text-white">@item.user2</h5>
                                }
                                else
                                {
                                    <h5 class="text-white">@item.user1</h5>
                                }
                                @if (@item.last_message.ToString().Length > 35)
                                {
                                    <text><span class="text-white-50">@item.last_message_sender_name: </span>@item.last_message.ToString().Substring(0,20)...</text>
                                }
                                else
                                {
                                    <text><span class="text-white-50">@item.last_message_sender_name: </span>@item.last_message</text>
                                }
                            </div>
                            <div class="col col-lg-5">
                            </div>
                            <div class="col col-lg-1">
                                <button class="btn btn-outline-dark">
                                    <a class="nav-link text-white" asp-controller="message" asp-action="_messagePartial" asp-route-id="@item.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
        </div>
    }
    </div>

   


<style type="text/css">
    .likecontainer {
        padding: 25px;
        box-shadow: 0 2px 8px rgba(0,0,0, 0.1);
        border-radius: 30px;
        background-color: #ffffff;
    }
</style>