@using FreelancerWebApp.ViewModels

@model MessageListPartialViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style type="text/css">
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    ::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #00C851;
    }
    .messages {
        height: 400px; /*Height of where messages shown*/
        overflow-y: scroll;
    }
    
</style>
<div id="div1" class="messages" onload="asd()">
        @foreach (var item in Model.Messages)
        {
            if (item.userEmail == ViewBag.user)
            {
            <div class="message sent  mt-2">
                <div class="row">
                    <div class="col-8">
                        <p class="mt-2">@item.message_text</p>
                    </div>
                    <div class="col-4">
                        <h6 class="text-muted text-sm-end">
                            <span class="metadata">
                                <span class="time">
                                    @if (item.date_created.ToString().Length < 20)
                                    {
                                        <text>@item.date_created.ToString().Substring(0,16)</text>
                                    }
                                    else
                                    {
                                        <text>@item.date_created Failure</text>
                                    }
                                </span>
                            </span>
                        </h6>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="message received mt-2">
                <div class="row">
                    <div class="col-8">
                        <p class="mt-2">@item.message_text</p>
                    </div>
                    <div class="col-4">
                        <h6 class="text-muted text-sm-end">
                            @*Created at*@
                            <span class="metadata">
                                <span class="time">
                                    @if (item.date_created.ToString().Length < 20)
                                    {
                                        <text>@item.date_created.ToString().Substring(0,16)</text>
                                    }
                                    else
                                    {
                                        <text>@item.date_created Failure</text>
                                    }
                                </span>
                            </span>
                        </h6>
                    </div>
                </div>
            </div>
        }
        }
    </div>


<style type="text/css">
    .likecontainer {
        padding: 2% 5% 5% 1%;
        box-shadow: 0 2px 8px rgba(0,0,0, 0.1);
        border-radius: 30px;
        background-color: #ffffff;
    }
    .likecontainer_sent {
        padding: 2% 5% 5% 1%;
        box-shadow: 0 2px 8px rgba(0,0,0, 0.1);
        border-radius: 5px 0px 5px 5px;
        background-color: #cece37;
        float:right;
        border-width: 0px 10px 10px 0;
        border-color: transparent #02C41C transparent transparent;
    }

    .likecontainer_received {
        padding: 2% 5% 5% 1%;
        box-shadow: 0 2px 8px rgba(0,0,0, 0.1);
        border-radius: 0px 5px 5px 5px;
        background-color: #02C41C;
        float: left;
        border-width: 0px 10px 10px 0;
        border-color: transparent #cece37 transparent transparent;
    }

    .metadata {
        display: inline-block;
        float: right;
        padding: 0 0 0 7px;
        position: relative;
        bottom: -4px;
        
    }

        .metadata .time {
            color: rgba(0, 0, 0, 0.45);
            font-size: 12px;
            display: inline-block;
        }

    .message.received {
        background: #cece37;
        border-radius: 0px 5px 5px 5px;
        float: left;
    }

        .message.received .metadata {
            padding: 0 0 0 16px;
        }

        .message.received:after {
            border-width: 0px 10px 10px 0;
            border-color: transparent #cece37 transparent transparent;
            top: 0;
            left: -10px;
        }

    .message.sent {
        background: #02C41C;
        border-radius: 5px 0px 5px 5px;
        float: right;
    }

        .message.sent:after {
            border-width: 0px 0 10px 10px;
            border-color: transparent transparent transparent #02C41C;
            top: 0;
            right: -10px;
        }
        .message {
        color: #000;
        clear: both;
        line-height: 18px;
        font-size: 15px;
        padding: 8px;
        position: relative;
        margin: 8px 0;
        max-width:85%;
        
        word-wrap: break-word;
        z-index: -1;
    }

        .message:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
        }

</style>