@model FreelancerWebApp.Models.job

@{
    ViewData["Title"] = "Delivery";
}


<div class="container">
    <h3 class="text-center">Delivery</h3>
    <div class="container px-3" style="padding: 1% 0% 0% 0%">
        <div class="customcontainer bg-light">
        <div class="row gx-5 py-3">
        <div class="col-lg-5 mb-5 mb-lg-0 my-3"> 
            <div class="container">
                <h3>@Html.DisplayFor(model => model.Job_Title) ~ @Html.DisplayFor(model => model.Job_Category)</h3>
            </div>

            <div class="container my-5">
                <p>@Html.DisplayFor(model => model.Job_Description)</p>
            </div>
            <div class="container my-5">
                <p><h5>Freelancer: </h5>@Html.DisplayFor(model => model.Freelancer_ID)</p>
            </div>
            
            <div class="row my-2 px-5">
                <div class="col-sm-6 px-2 my-2">
                    <p> Award: <span class="text-success">@Html.DisplayFor(model => model.Offered_Price)$</span></p>
                </div>

                <div class="col-sm-6 px-2 my-2">
                    <p>Remaning Day <span class=text-danger>@Html.DisplayFor(model => model.Day)</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-7 mb-5 mb-lg-0 my-3">
            <div class="container py-5">
                <div class="py-5 mb-4">
                    <div class="row py-3">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-outline-success">
                                <a class="nav-link text-success" href="/UploadedFiles/@(Model.Deliver_File_Path)" download>Download Delivery</a>
                            </button>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-sm-5"><button class="btn btn-outline-primary" name="confirm" onClick="showModal()">Confirm</button></div>
                    <div class="col-sm-2"></div>
                            <div class="col-sm-5"><a class="btn btn-outline-danger" name="revision" asp-controller="Home" asp-action="Revision" asp-route-id="@Model.Id">Request Revision</a></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

<style type="text/css">

    .customcontainer {
        padding: 15px;
        box-shadow: 0 2px 8px rgba(0,0,0, 0.1);
        border-radius: 30px;
        background-color: #ffffff;
    }
</style>


<div id="confirmModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
            </div>
            <div class="modal-body">
                <p>Do you want to leave a comment?</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Comment" asp-route-id="@Model.Id">Leave Comment and Continue</a>
                <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="DeliveryPost" asp-route-id="@Model.Id">No, Continue</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="hideModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showModal() {
        $('#confirmModal').modal('show');
    };

    function hideModal() {
        $('#confirmModal').modal('hide');
    };
</script>