@*@model FreelancerWebApp.Models.job*@

@{
    ViewData["Title"] = "Jobs Detail";
}
@model JobViewModel

<script src="https://kit.fontawesome.com/103bdd84ad.js" crossorigin="anonymous"></script>

<div class="container">
    <h3 class="text-center py-0">Job Detail</h3>
    <div class="container py-3">
        <div class="customcontainer bg-light py-3" style="padding:0% 5% 0% 2%;">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0 my-3">
                    <div class="">
                      <img style="width:500px; height:auto;" src="/JobPhotos/@(Model.Job_Photo_Path)" />
                    </div>
                </div>

                <div class="col-lg-7 mb-5 mb-lg-0 my-3">
                    <div class="row gx-5">
                        <div class="col-lg-12 mb-5 mb-lg-0 my-3">
                            <h4>@Html.DisplayFor(model => model.Job_Title) ~ @Html.DisplayFor(model => model.Job_Category)</h4>
                        </div>
                        <div class="col-lg-0 mb-5 mb-lg-0 my-3">
                        </div>
                        <div class="col-lg-0 mb-5 mb-lg-0 my-3">
                            <h4></h4>
                        </div>
                    </div>

                    <div class="my-3">
                        @Html.DisplayFor(model => model.Job_Description)
                    </div>

                    <br />
                    <br />
                    <br />
                    <br />

                    <div class="px-2 my-2">
                        <div>
                            <p>Complete in <strong class="text-danger">@Html.DisplayFor(model => model.Day)</strong> days</p>
                        </div>

                    </div>

                    <div class="px-2 my-2">
                        <p class="">
                            Award will be <strong class="text-success">@Html.DisplayFor(model => model.Offered_Price)$</strong>
                        </p>
                    </div>
                    <br />
                    <br />
                    <h6 class="text-muted">
                        Created at
                        <strong>
                    @if (Model.Publish_Date.ToString().Length < 20)
                    {
                        @Model.Publish_Date.ToString().Substring(0,10);
                    }
                    else
                    {
                        @Model.Publish_Date.ToString();
                        <text>Failure</text>
                    }
                        </strong>
                    </h6>
                    <br />
                    <div class="row gx-5 my-5">
                        <div class="col-lg-5 mb-5 mb-lg-0 my-0">
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                        <div class="small">
                                            <div class="fw-bold">@Html.DisplayFor(model => model.Owner_ID)</div>                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5 mb-lg-0 my-0"></div>

                        <div class="col-lg-3 mb-5 mb-lg-0 my-0">
                            @if (Model.Owner_ID != ViewBag.userid)
                            {
                                <div class="likecontainer">
                                    <i onclick="Toggle()" id="btn" class="fa-regular fa-heart far"></i>
                                </div>


                            }
                            else if (Model.Freelancer_ID != "0")
                            {
                                <p class="text-danger">This job already taken, you can't <strong>edit</strong> it.</p>

                            }
                            else if (Model.Owner_ID == ViewBag.userid)
                            {
                                <button class="btn btn-outline-dark btn-primary" type="button"><a class="text-white" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a></button>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row my-5">
        <div class="col-sm-10"></div>
        <div class="col-sm-2">
            <button class="btn btn-outline-dark btn-success" type="button"><a class="text-white" asp-action="Index">Back to List</a></button>
        </div>
    </div>
</div>


<style type="text/css">

    .likecontainer{
        position:absolute;
        padding: 14px;
        transform: translate(-50%, -50%);
        box-shadow: 0 2px 8px rgba(0,0,0, 0.1);
        border-radius: 30px;
        background-color: #ffffff;
    }
    .likecontainer i{
        font-size: 2rem;
        transition: .5s;
    }
    .likecontainer:hover i{
        color: #f50057;
    }
    .fas{
        color: #f50057;
    }

    .customcontainer {
        padding: 25px;
        box-shadow: 0 2px 8px rgba(0,0,0, 0.1);
        border-radius: 30px;
        background-color: #ffffff;
    }
</style>

<script>
    var btn = document.getElementById('btn');

    function Toggle() {
        if (btn.classList.contains("far")) {
            btn.classList.remove("far");
            btn.classList.add("fas");
        }
        else{
            btn.classList.remove("fas") ;
            btn.classList.add("far");
        }
    }
</script>