@*@model FreelancerWebApp.Models.profile*@
@model IEnumerable<FreelancerWebApp.Models.job>
@{
    ViewData["Title"] = "Profile";
}

<header @*class="bg-dark py-2"*@ style="background-color:#285238;">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto " style="color:#ffbb33;">
                <h2 class="text-center fw-bolder py-3">Welcome To Your Profile </h2>
                <h3 class="text-light">@ViewBag.userid</h3>
            </div>
        </div>
    </section>
</header>


<div class="container-fluid">
    <div class="container">
        <div class="row gx-5">
            <div class=" col-lg-3 mb-5 mb-lg-0 py-5 my-5">
                <div class="">
                    <br /> 
                    <br />
                    <br />
                    <div class="card shadow-sm customcontainer bg-light">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        @*<div class="card-body">
                        </div>*@
                    </div>
                </div>
                
            </div>
            <div class=" col-lg-9 mb-5 mb-lg-0">
                @*<div>
                    <h4 class="text-center fw-bolder">Welcome To Your Profile @ViewBag.userid</h4>
                </div>*@
                <div class="album py-5 ">
                    <h3 class="text-center my-5">Jobs I posted</h3>
                    <div class="">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            @foreach (var item in Model)
                            {
                                if (item.Owner_ID == ViewBag.userid && item.Deliver_File_Path != "0")
                                {
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            @*<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>*@

                                            <div class="card-body" style="color:#ffbb33; background-color:#285238;">
                                                <div style="min-height:200px; max-height:200px;">
                                                    <h5 class="text-light">@Html.DisplayFor(modelItem => item.Job_Title) ~ @Html.DisplayFor(modelItem => item.Job_Category)</h5>
                                                    <p class="card-text text-light ">@Html.DisplayFor(modelItem => item.Job_Description)</p>
                                                </div>

                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a class="btn btn-warning btn-sm" asp-controller="jobs" asp-action="Details" asp-route-id="@item.Id">View</a>
                                                    </div>
                                                    <small class="text-warning">Limit: @Html.DisplayFor(modelItem => item.Day) Day</small>
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary btn-sm text-light" asp-controller="jobs" asp-action="Delivery" asp-route-id="@item.Id">Delivery</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if(item.Owner_ID == ViewBag.userid && item.Deliver_File_Path == "0"){
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            @*<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>*@

                                            <div class="card-body" style="color:#ffbb33; background-color:#285238;">
                                                <div style="min-height:200px; max-height:200px;">
                                                    <h5 class="text-light">@Html.DisplayFor(modelItem => item.Job_Title) ~ @Html.DisplayFor(modelItem => item.Job_Category)</h5>
                                                    <p class="card-text text-light ">@Html.DisplayFor(modelItem => item.Job_Description)</p>
                                                </div>

                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a class="btn btn-warning btn-sm" asp-controller="jobs" asp-action="Details" asp-route-id="@item.Id">View</a>
                                                    </div>
                                                    <small class="text-warning">Limit: @Html.DisplayFor(modelItem => item.Day) Day</small>
                                                    <div class="btn-group">
                                                        <button class="btn btn-sm btn-success" type="button">Price: @Html.DisplayFor(modelItem => item.Offered_Price)$</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <h3 class="text-center my-5">Jobs I got</h3>
                    <div class="">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            @foreach (var item in Model)
                            {
                                if (item.Freelancer_ID == ViewBag.userid && item.Deliver_File_Path == "0")
                                {
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            @*<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>*@

                                            <div class="card-body" style="color:#ffbb33; background-color:#285238;">
                                                <div style="min-height:200px; max-height:200px;">
                                                    <h5 class="text-light">@Html.DisplayFor(modelItem => item.Job_Title) ~ @Html.DisplayFor(modelItem => item.Job_Category)</h5>
                                                    <p class="card-text text-light ">@Html.DisplayFor(modelItem => item.Job_Description)</p>
                                                </div>

                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a class="btn btn-warning btn-sm" asp-controller="jobs" asp-action="Details" asp-route-id="@item.Id">View</a>
                                                    </div>
                                                    <small class="text-warning">Limit: @Html.DisplayFor(modelItem => item.Day) Day</small>
                                                    <!---->
                                                    <div class="btn-group">
                                                        <!--<button class="btn btn-sm btn-success" type="button"> Price: @Html.DisplayFor(modelItem => item.Offered_Price)$</button>-->
                                                        <a class="btn btn-primary btn-sm text-light" asp-controller="jobs" asp-action="Deliver" asp-route-id="@item.Id"> Deliver </a>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <h3 class="text-center my-5">Jobs I Delivered</h3>
                    <div class="">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            @foreach (var item in Model)
                            {
                                if (item.Freelancer_ID == ViewBag.userid && item.Deliver_File_Path != "0")
                                {
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            @*<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>*@

                                            <div class="card-body" style="color:#ffbb33; background-color:#285238;">
                                                <div style="min-height:200px; max-height:200px;">
                                                    <h5 class="text-light">@Html.DisplayFor(modelItem => item.Job_Title) ~ @Html.DisplayFor(modelItem => item.Job_Category)</h5>
                                                    <p class="card-text text-light ">@Html.DisplayFor(modelItem => item.Job_Description)</p>
                                                </div>

                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a class="btn btn-warning btn-sm" asp-controller="jobs" asp-action="Details" asp-route-id="@item.Id">View</a>
                                                    </div>
                                                    <small class="text-warning">Limit: @Html.DisplayFor(modelItem => item.Day) Day</small>
                                                    <!---->
                                                    <div class="btn-group">
                                                        <!--<button class="btn btn-sm btn-success" type="button"> Price: @Html.DisplayFor(modelItem => item.Offered_Price)$</button>-->
                                                        <button class="btn btn-sm btn-primary" type="button" disabled> <a class="btn btn-sm btn-primary text-light" asp-controller="jobs" asp-action="Deliver" asp-route-id="@item.Id">Deliver </a></button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .customcontainer {
        padding: 30px;
        box-shadow: 0 2px 8px rgba(0,0,0, 0.1);
        border-radius: 30px;
        background-color: #ffffff
    }
</style>
